@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

/* variables */

:root {
    --text1: hsl(150, 100%, 8%);
    --text2: hsl(150, 10%, 60%);
    --bkg1: hsl(190, 70%, 94.5%);
    --bkg2: hsl(190, 70%, 99.5%);
    --accent1: hsla(150, 100%, 50%, .6);
    --accent2: hsla(190, 100%, 60%, .6);
    --gradient: linear-gradient(to right, var(--accent1), var(--accent2));
}

/* reset */

*, *::before, *::after {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--bkg1);
    min-height: 100vh;
    display: grid;
    place-items: center;
    color: var(--text1);
    padding: 2rem;
    background-image: url("img/pattern.svg");
}
